{% extends 'base.html.twig' %}
{% block title%}Homepage{% endblock %}
{% block body %}
    <h1>Home</h1>
    <p>C'est la page Home</p>
    <a href="{{ path('inscription') }}">Sign Up</a>
{% endblock %}