{% extends 'base.html.twig' %}
{% block title%}Homepage{% endblock %}	
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<style type="text/css">
		.m {
		  font-weight: 900;
		  font-size: 3.5em;
		  color: #b98073;
		}

		.m .letter {
		  display: inline-block;
		  line-height: 1em;
		}
		</style>
    <h1 align="center" class="m"> WELCOME !</h1>
    <p></p>
{% endblock %}
