{% extends 'base.html.twig' %}
{% block title%}Homepage{% endblock %}
{% block body %}
    <h1>Home</h1>
    <p>C'est la page Home</p>
	<ul>
			<li> <a href="{{ path('inscription') }}">Sign Up</a> </li><br>
            <li> <a href="{{ path('login') }}">Log In</a> </li><br>
            <li> <a href="{{ path('profil') }}">Profil</a> </li>
    </ul>
     
{% endblock %}
