{% extends 'base.html.twig' %}
{% block title%}Pas d'accèss{% endblock %}
{% block body %}
    <h1>Avertissement</h1>
    <p>Vous n'avez pas les droits pour effectuer cette action.</p>
{% endblock %}