{% extends 'base.html.twig' %}
{% block title%}Profil{% endblock %}
{% block body %}
    <h1>Profil</h1>
    <p>C'est mon profil</p>
    <a href="{{ path('homepage') }}">Log Out</a>
{% endblock %}