{% extends 'base.html.twig' %}
{% block title%}Profil{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="../bs.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    <h1>Profil</h1>
    <p>C'est mon profil</p>
	<div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
			<li> <a href="{{ path('profil') }}">Accueil</a> </li>
            <li class="active"> <a href="#">Images</a> </li>
            <li> <a href="#">Horaires</a> </li>
            <li> <a href="#">Références</a> </li>
          </ul>
          <form class="navbar-form navbar-right inline-form">
            <div class="form-group">
              <input type="search" class="input-sm form-control" placeholder="Recherche">
              <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
            </div>
          </form>
        </div>
      </nav>
      Lorem ipsum...
    </div>
	<div class="container">

      <section class="row">

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="../resto1.jpg" alt="a"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="../resto2.jpg" alt="a"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="../resto3.jpg" alt="a"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="../resto4.jpg" alt="a"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="../resto5.jpg" alt="a"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="../resto6.jpg" alt="a"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><img src="../resto7.jpg" alt="a"></div>

      </section>

    </div>
    <a href="{{ path('homepage') }}">Log Out</a>
{% endblock %}