{% extends 'base.html.twig' %}
{% block title%}Sign up{% endblock %}
{% block body %}
    <h1>Inscription</h1>
	<ul>
    <li> <a href="{{ path('homepage') }}">Home</a></li><br>
    <li> <a href="{{ path('signup_user') }}">Utilisateur</a></li><br>
	<li> <a href="{{ path('signup_resto') }}">Restaurant</a></li>
	</ul>
{% endblock %}