{% extends 'base.html.twig' %}
{% block title%}Sign up{% endblock %}
{% block body %}
    <h1>Inscription</h1>
    <a href="{{ path('signup_user') }}">Utilisateur</a>
    <a href="{{ path('signup_resto') }}">Restaurant</a>
{% endblock %}