{% extends 'base.html.twig' %}
{% block title%}Reservation{% endblock %}
{% block body %}
	<h1>Réservations disponibles</h1>
	{% for rdv in trdv %}
		{% if rdv.prenant == NULL %}
			<p>Réserver la place chez {{rdv.proposant}} le {{ rdv.date | date('Y-m-d H:i:s') }} [<a href="{{ path('take_one_date', {'url': rdv.url}) }}">Prendre</a>]</p> 
    	{% endif %}
       
	{% endfor %}
{% endblock %}