{% extends 'base.html.twig' %}
{% block title%}Reservation{% endblock %}
{% block body %}
	<h1>Vous avez réservé les places </h1>
	{% for rdv in rdvp %}
        <p>Vous avez réservé la place chez <a href="{{ path('profil', {'url' : rdv.proposant }) }}">{{rdv.proposant}}</a> le {{ rdv.date | date('Y-m-d H:i:s') }} [<a href="{{ path('remove_one_date', {'url': rdv.url}) }}">Annuler</a>]</p> 
	{% endfor %}
{% endblock %}